body {
    background-color: rgba(54, 57, 63, 255);
    color: rgba(219, 220, 221);
    margin: 0 auto;
    font-family: "Georgia";
    text-align: center;
    width: 70%;
}
#title {
    margin: 0 auto;
    font-family: "Georgia";
    text-align: center;
    width: 70%;
}
p {
    margin: 10px;
}
#warning {
    color: red;
    font-size: 32px;
}
#info {
    color: blue;
    font-size: 26px;
}
#terminal {
    background-color: black;
    width: 400px;
    height: 400px;
    padding: auto;
    text-align: left;
    margin: auto;
}
a {
	color: rgba(245, 235, 137, 255);
}
a:hover {
	color: rgba(219, 220, 221, 255);
}
#terminal p {
    color: #90EE90;
    margin-left: 20px;
}
#terminal input {
    color: #90EE90;
    background-color: black;
    margin: 15px;
    border: 0px solid;

}
h1 {
    margin: 10px;
}
input {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(219, 220, 221, 0), rgba(219, 220, 221, 0.75), rgba(219, 220, 221, 0));
}
